.searchbar-container{
  display: flex;
  justify-content: center;
  padding: 15px 0px;
}
.searchbar-container>*{
  margin: 5px 0px;
}
.search-input{
  width: 80%;
  outline: 0;
  padding: 0px 8px;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  border: 1px solid #888;
}
