@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


footer a ,
header a{
  text-decoration: none;
  color: #fff;
}

.page-container{
  margin: auto;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* ======================================= */
/* ======== SET GLOBAL VARIBLES: ========= */
/* ======================================= */

html{
  --dark: #222;
  --dark-gray: #333;
  --light-gray: #ccc;
  --yellowish: #ffe23f;
  --soft-blue: rgb(98, 161, 255);
  --light-blue: rgb(154, 218, 255);
}

/* ======================================= */
/* ======== SET UTILITY CLASSES: ========= */
/* ======================================= */

.secondary{
  color: var(--soft-blue);
}

.primery{
  color: #fff;
  text-shadow: 
  -1px 0 #555,
   0 1px #555,
  1px 0 #555,
   0 -1px #555;
}

.subtext{
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  color: var(--dark-gray);
}
 
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}