*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

footer a ,
header a{
  text-decoration: none;
  color: #fff;
}

.page-container{
  margin: auto;
  width: 100vw;
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a. 
code { font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;}